.clients {
    background: white;
    flex: 1;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    height: 100%;

    @media screen and (min-width: 600px) {
        border-radius: 30px 0 0 30px;
        max-height: 100vh;
        height: 100vh;
    }

    &-left {
        width: 100%;
        padding: 30px 20px 0 20px;
        display: flex;
        flex-direction: column;
        padding-top: 80px;

        &-header {
            display: flex;
            justify-content: flex-end;
        }

        & .table-top {
            margin-bottom: 10px;
            & h3 {
                margin: 0;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .pageTitle {
            display: none;
        }

        @media screen and (min-width: 600px) {
            width: 65%;
            padding: 30px 40px 0 40px;

            &-header {
                justify-content: space-between;
            }

            .pageTitle {
                display: block;
            }
        }
    }

    &-right {
        // padding: 30px 40px 0 40px;
        flex: 1;
        background-color: #e6f2ff;
        display: none;
        position: absolute;
        flex-direction: column;

        top: 40px;
        width: calc(100% - 20px);
        height: calc(100% - 100px);
        left: 10px;
        border-radius: 5px;
        z-index: 10;

        .detailTitle {
            // padding: 30px 40px 15px 40px;
            padding: 30px 25px 0 25px;
        }

        .tabs {
            // padding: 30px 25px 0 25px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .tabContent {
                // padding: 20px 40px 0 40px;
                overflow: scroll;
                padding: 30px 25px 0 25px;
            }
        }

        & .order-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 30px;

            & .MuiButtonBase-root {
                text-transform: unset !important;
                font-size: 12px !important;
                padding: 0;
                height: 30px;
                background-color: #5db3ff;
                color: #000;
                box-shadow: none;
            }
        }

        &-showOnMobile {
            display: flex;
        }

        @media screen and (min-width: 600px) {
            position: unset;
            display: flex;

            top: unset;
            width: unset;
            height: unset;
            left: unset;
            border-radius: 0;

            .detailTitle {
                padding: 30px 40px 15px 40px;
            }

            .tabs {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .tabContent {
                    padding: 20px 40px 0 40px;
                    overflow: scroll;
                }
            }
        }
    }

    .blackLayer {
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}
