.order {
    background: #cceaff;
    display: flex;
    flex: 1;

    &-left {
        background: #fff;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        flex: 1;
        overflow: scroll;

        &-logo {
            width: 50px;
            position: fixed;
            top: 30px;
            left: 5%;

            @media screen and (max-width: 600px) {
                z-index: 10;
                width: 42px;
                top: 20px;
                left: 22px;
            }
        }

        &-content {
            width: 65%;
            margin: auto;
            margin-top: 30px;
        }

        &-header {
            display: flex;
            justify-content: space-between;
        }

        h2 {
            margin: 0;
            padding: 0;
        }

        .pageTitle {
            display: block;
        }

        @media screen and (max-width: 600px) {
            border-radius: 0;

            &-content {
                width: 94%;
                margin-top: 80px;
            }

            &-header {
                .pageTitle {
                    display: none;
                }

                h2 {
                    margin-left: 15px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    &-right {
        flex: 1;
        max-width: 290px;
        background: #cceaff;
        padding: 15px;

        @media screen and (max-width: 600px) {
            position: absolute;
            display: none;
            position: absolute;
            flex-direction: column;
            width: calc(100% - 60px);

            top: 30px;
            left: 15px;
            border-radius: 15px;
            overflow: scroll;
            max-width: unset;
        }

        &-showOnMobile {
            display: flex;
            z-index: 100;
        }

        &-mobile-header {
            display: none;
            @media screen and (max-width: 600px) {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                h3 {
                    margin-top: 5px;
                }
            }
        }

        .cart {
            // width: 100%;
            min-height: 100px;
            background: #fff;
            border-radius: 10px;
            padding: 15px 20px;
            display: flex;
            flex-direction: column;

            h3 {
                margin: 0;
                padding: 0;
            }

            &-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                @media screen and (max-width: 600px) {
                    display: none;
                }
            }

            &-row {
                display: flex;
                font-size: 14px;
                border-bottom: 1px solid #ebebeb;
                padding: 8px 0;

                &-last {
                    border-bottom: none;
                }
            }

            &-amount {
                width: 40px;
            }

            &-name {
                flex: 1;
            }

            .button {
                margin-top: 20px;
                display: flex;
                align-self: flex-end;
                width: 50px;
                justify-content: center;
            }
        }
    }

    &-cart-overlay {
        display: none;
        @media screen and (max-width: 600px) {
            display: flex;
            align-items: center;
            width: 100px;
            position: fixed;
            bottom: 15px;
            right: 15px;
            justify-content: space-between;
            padding: 10px 15px 10px 10px;
            background: #a1d3ff;
            box-shadow: 3px 3px 13px -3px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
    }

    .summary {
        margin-top: 20px;

        &-row {
            display: flex;
            font-size: 14px;
            border-bottom: 1px solid #ebebeb;
            padding: 10px 0;

            &-last {
                border-bottom: none;
                font-weight: 700;
                margin-bottom: 30px;
            }
        }

        &-amount {
            width: 60px;
        }

        &-name {
            flex: 1;
        }
    }

    form {
        width: 100%;

        label {
            justify-content: flex-start;

            input {
                margin-right: 10px;
            }
        }

        .note {
            padding: 7px;
            display: flex;
            background: #ffd99d;
            border-radius: 5px;

            textarea {
                border: none;
                border-radius: 5px;
                resize: none;
                width: 100%;
                height: 70px;
                padding: 10px;

                @media screen and (max-width: 600px) {
                    width: 93%;
                }
            }
        }

        .delivery,
        .payment {
            display: flex;
            flex-direction: column;

            label {
                padding: 7px;
                background: #ffd99d;
                margin-bottom: 7px;
                border-radius: 5px;
            }

            .laterPayment {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &-checkbox {
                    margin-bottom: 10px;
                }
                textarea {
                    border: none;
                    border-radius: 5px;
                    resize: none;
                    width: 96%;
                    height: 70px;
                    padding: 10px;

                    @media screen and (max-width: 600px) {
                        width: 93%;
                    }
                }
            }
        }
    }

    & + .mobileNav {
        .button {
            visibility: hidden;
        }
    }

    & + .mobileNav + .nav {
        display: none;
    }
}
